/* font */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
:root {
  /* bg colors */
  --background: #e6e6e6;
  --primary: #b7a9de;
  --secondary: #e5383b;
  --terciary: #8ef0f3;

  /* Text colors */
  --text-blue: #000000;
  --text-white: #f3f4f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  margin: 10%;
}

#img-main {
  position: absolute;
  bottom: 0;
  left: 0;
}

.container {
  position: relative;
  width: 800px;
  max-width: 100%;
  min-height: 500px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.65);
  animation: 1s loginAnimation;
}
.btn-inicio {
  margin-top: 20px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.btn-inicio a {
  padding: 10px;
}
.btn-inicio img {
  width: 25px;
  margin-left: 10px;
}
@keyframes loginAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sign-up,
.sign-in {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.sign-up {
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.sign-in {
  width: 50%;
  z-index: 2;
}

.social-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.social-container a {
  width: 30px;
}
.social-container a img {
  width: 20px;
}

form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

h1 {
  font-weight: bold;
  margin: 0;
}

input {
  background: #eee;
  padding: 10px 15px;
  margin: 8px 15px;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
}

a {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 5px;
  margin: 10px 0;
  border-radius: 50px;

  box-shadow: 0px 5px 18px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 18px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 18px -3px rgba(0, 0, 0, 0.75);
}

button {
  background-color: var(--secondary);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 55px;
  margin: 20px;
  border-radius: 20px;
  border: 2px solid var(--secondary);
  outline: none;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

#signIn,
#signUp {
  background-color: transparent;
  border: 2px solid #fff;
}

.container.right-panel-active .sign-in {
  transform: translateX(100%);
}

.container.right-panel-active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  position: relative;
  color: #fff;
  background-color: var(--secondary);
  left: -100%;
  height: 100%;
  width: 200%;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #ba181b, #e5383b);
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-left,
.overlay-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.overlay-right {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

@media screen and (max-width: 760px) {
  form {
    gap: 10px;
  }
  .container h1 {
    font-size: 1rem;
  }
  .container p {
    font-size: 0.7rem;
  }
  .social-container img {
    width: 10px;
    height: 15px;
  }
  .overlay-right,
  .overlay-left {
    gap: 10px;
  }
  button {
    width: 50%;
    padding: 10px 0;
    font-size: 0.7rem;
    text-align: center;
  }
}
@media screen and (max-width: 590px) {
  form {
    gap: 5px;
    padding: 0 10px;
  }
  button {
    width: 90%;
    font-size: 0.5rem;
    margin: 0;
  }
  input {
    font-size: 0.7rem;
  }
  .social-container {
    gap: 15px;
  }
  .overlay-right,
  .overlay-left {
    padding: 0;
  }
}
